[Desktop Entry]
Name=KTrip
Name[ca]=KTrip
Name[ca@valencia]=KTrip
Name[cs]=KTrip
Name[de]=KTrip
Name[en_GB]=KTrip
Name[es]=KTrip
Name[et]=KTrip
Name[fr]=KTrip
Name[ia]=KTrip
Name[it]=KTrip
Name[ko]=KTrip
Name[nl]=KTrip
Name[pl]=KTrip
Name[pt]=KTrip
Name[pt_BR]=KTrip
Name[ru]=KTrip
Name[sk]=KTrip
Name[sl]=KTrip
Name[sv]=Ktripp
Name[uk]=KTrip
Name[zh_TW]=KTrip
GenericName=Public transport navigator
GenericName[ca]=Navegador del transport públic
GenericName[ca@valencia]=Navegador del transport públic
GenericName[de]=Navigation für öffentliche Verkehrsmittel
GenericName[en_GB]=Public transport navigator
GenericName[es]=Navegador de transporte público
GenericName[et]=Ühistranspordi navigaator
GenericName[fr]=Navigateur de transports publics
GenericName[it]=Navigatore del trasporto pubblico
GenericName[ko]=대중 교통 탐색기
GenericName[nl]=Navigator van openbaar vervoer
GenericName[pl]=Przemieszczanie się transportem publicznym
GenericName[pt]=Navegador de transportes públicos
GenericName[pt_BR]=Navegador de transportes públicos
GenericName[sk]=Navigátor verejnej dopravy
GenericName[sl]=Navigator javnega transporta
GenericName[sv]=Kollektivtrafiknavigering
GenericName[uk]=Навігатор громадським транспортом
Exec=ktrip
Icon=ktrip
Type=Application
Comment=Public transport navigator.
Comment[ca]=Navegador del transport públic.
Comment[ca@valencia]=Navegador del transport públic.
Comment[de]=Navigation für öffentliche Verkehrsmittel.
Comment[en_GB]=Public transport navigator.
Comment[es]=Navegador de transporte público.
Comment[et]=Ühistranspordi navigaator.
Comment[fr]=Navigateur de transports publics.
Comment[it]=Navigatore del trasporto pubblico.
Comment[ko]=대중 교통 탐색기.
Comment[nl]=Navigator van openbaar vervoer.
Comment[pl]=Przemieszczanie się transportem publicznym.
Comment[pt]=Navegador de transportes públicos.
Comment[pt_BR]=Navegador de transportes públicos.
Comment[sk]=Navigátor verejnej dopravy.
Comment[sl]=Navigator javnega transporta.
Comment[sv]=Kollektivtrafiknavigering
Comment[uk]=Навігатор громадським транспортом.
Terminal=false
Categories=Qt;KDE;
