[Desktop Entry]
Name=KTrip
Name[ca]=KTrip
Name[cs]=KTrip
Name[de]=KTrip
Name[it]=KTrip
Name[nl]=KTrip
Name[pl]=KTrip
Name[pt]=KTrip
Name[sk]=KTrip
Name[sv]=Ktripp
Name[uk]=KTrip
Name[x-test]=xxKTripxx
GenericName=Public transport navigator
GenericName[ca]=Navegador del transport públic
GenericName[de]=Navigation für öffentliche Verkehrsmittel
GenericName[it]=Navigatore del trasporto pubblico
GenericName[nl]=Navigator van openbaar vervoer
GenericName[pl]=Przemieszczanie się transportem publicznym
GenericName[pt]=Navegador de transportes públicos
GenericName[sk]=Navigátor verejnej dopravy
GenericName[sv]=Kollektivtrafiknavigering
GenericName[uk]=Навігатор громадським транспортом
GenericName[x-test]=xxPublic transport navigatorxx
Exec=ktrip
Icon=org.kde.ktrip
Type=Application
Comment=Public transport navigator.
Comment[ca]=Navegador del transport públic.
Comment[de]=Navigation für öffentliche Verkehrsmittel.
Comment[it]=Navigatore del trasporto pubblico.
Comment[nl]=Navigator van openbaar vervoer.
Comment[pl]=Przemieszczanie się transportem publicznym.
Comment[pt]=Navegador de transportes públicos.
Comment[sk]=Navigátor verejnej dopravy.
Comment[sv]=Kollektivtrafiknavigering
Comment[uk]=Навігатор громадським транспортом.
Comment[x-test]=xxPublic transport navigator.xx
Terminal=false
Categories=Qt;KDE;
